body 
{
    background: #A3A6D8;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment 
{
    display:flex;
    padding:10px;
    margin:10px;
    background:#C3D5EB;
}

.assignment img
{
    width:200px;
    padding:10px;
} 

h1
{
    color:darkblue;
    text-align:center;
}

